# Choisir la source: era5 ou cmems
DATA_SOURCE=cmems

# =========================
# ERA5
# =========================
ERA5_DATASET=reanalysis-era5-single-levels
ERA5_VARIABLES=10m_u_component_of_wind,10m_v_component_of_wind
ERA5_YEARS=2020,2021
ERA5_AREA=10,3,-7,15
ERA5_OUTPUT_DIR=data_era5

# =========================
# CMEMS / GLORYS12
# =========================
CMEMS_DATASET=cmems_mod_glo_phy_anfc_0.083deg_P1D-m
CMEMS_VARIABLES=uo,vo,thetao,so
CMEMS_LONGITUDES=-10,12
CMEMS_LATITUDES=-6,7
CMEMS_START_DATE=2020-01-01
CMEMS_END_DATE=2020-01-03
CMEMS_DEPTH=0,500
CMEMS_OUTPUT_DIR=data_copernicus
CMEMS_USERNAME=
CMEMS_PASSWORD=
