# Exemple .env pour ERA5 uniquement
DATA_SOURCE=era5

# Dataset ERA5
ERA5_DATASET=reanalysis-era5-single-levels

# Variables separees par virgules
ERA5_VARIABLES=10m_u_component_of_wind,10m_v_component_of_wind

# Annees separees par virgules
ERA5_YEARS=2020,2021

# Aire geographique: Nord,Ouest,Sud,Est
ERA5_AREA=10,3,-7,15

# Dossier de sortie (chemin relatif)
ERA5_OUTPUT_DIR=data_era5
